:root {
  --red: #dc3545;
}

/*! ---------------------- 1- NAVBAR ----------------------------- */
.bg-light{
  font-size: 1.2rem !important;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(59, 59, 59);
  transition: color 1s;
}


.bg-light .nav-link:hover{
  color: var(--red);
}

/*! ---------------------- 2- CAROUSEL ----------------------------- */

.carousel-item{
  max-height: calc(100vh - 90px);
}
.carousel-item h1{
  color: var(--red);
  text-shadow: 2px 2px 2px black;
}
.carousel-item p{
  color: white;
  font-weight: 500;
  text-shadow: 2px 2px 2px black;
  
}

.carousel-indicators button{
  background-color: var(--red) !important;
  /* padding: .1rem 0 !important; */
  /* box-shadow: 1px 1px black; */
  height: 0.5rem !important;
  width: 2.5rem !important;
}

.carousel-caption{
  bottom: 15vh;
}
/*! ------------------- 3- ABOUT SECTION ------------------------ */

/*! ------------------- 4- INSTRUCTORS ------------------------ */
section#instructors .social i{
  transition: all 1s;
}
section#instructors .social i:hover{
  opacity: .5;
}
section#instructors .card{
  transition: all 1s;
}

section#instructors .card:hover{
  transform: scale(1.05);
}

/*! ------------------- 4- STUDENTS SECTION ------------------------ */

/*! ------------------- 5- COURSES SECTION ------------------------ */

section#courses .nav-link{
  color: white !important;
}
section#courses .nav-link.active{
  background-color: var(--red) !important;
}


/*! ------------------- 6- CONTACT SECTION ------------------------ */

/** ------------------- UP-BUTTON --------------------- */

.upbutton{
  width: 50px;
  height: 50px;
  background-color: #dc3545;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upbutton:hover{
  color: black;
}

/*! -------------------- 7- FOOTER ------------------------ */
footer i {
  font-size: 2rem;
  color: white;
  margin-right: 1rem;
  transition: color 1s;
}

footer i:hover {
  color: var(--red);
}